; {{ ansible_managed }}

; Common
date.timezone={{ php__timezone }}

; affects XDebug var_dump format and errors output
html_errors = 0

{% if env__vagrant == true %}
; XDebug
xdebug.max_nesting_level = 250
xdebug.idekey = "DBG_IDE_KEY"
xdebug.overload_var_dump = 1
xdebug.remote_connect_back = 1
xdebug.remote_enable = 1
xdebug.remote_handler = "dbgp"
xdebug.remote_port = 11002
{% endif %}

; ldap specific environment variable
env[LDAPTLS_REQCERT] = never
